* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  --text: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}
h1,
h2 {
  font-family: "Big Shoulders Display";
}
#flex-grid-btn {
  position: absolute;
  text-align: center;
  top:2em;
}
#flex-grid-btn a {
    color: var(--very-light-gray);
    text-decoration: none;
    margin: 1em;
    border: none ;
    padding: .5em 1em;
    background-color: var(--Bright-orange);
    width: 7em;
    transition: .5s ease-in-out;
}

#flex-grid-btn a:hover {
background-color: var(--Dark-cyan);
}
h2 {
  color: var(--very-light-gray);
}
p {
  color: var(--text);
  line-height: 1.4;
  font-size: 15px;
  margin-bottom: 3em;
  font-family: "Lexend Deca";
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10%;
}

.cars {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;
  width: 33.3%;
  height: 380px;
  padding: 2em;
  max-width: 250px;
  position: relative;
}
#sedans {
  background-color: var(--Bright-orange);
}
#suvs {
  background-color: var(--Dark-cyan);
}
#luxury {
  background-color: var(--Very-dark-cyan);
}
.cars img {
  width: 3em;
}

.cars button {
  border: 2px solid var(--very-light-gray);
  background-color: transparent;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  width: 50%;
  color: var(--text);
  font-family: "Lexend Deca";
  position: absolute;
  bottom: 3em;
}
@media only screen and (max-width: 768px) {
  #container {
    flex-direction: column;
    height: auto;
    padding: 9em 1em 1em;
  }
  .cars {
    width: 100%;
    max-width: 300px;
  }
}
